<html>
<head>
    <title>Crossfit</title>
</head>
<body>
    <h4 align="center">ВЫ ОТКРЫЛИ СТРАНИЦУ С ПРОГРАММОЙ "КРОССФИТ"!</h4>
    <hr align="center" width="100%" size="3" color="#0000dd" />
    <p><big>Ниже вы можете ознакомится с ценами и результами программы</big></p>
    <br>
    <table align="center" border="1" bgcolor="red">
               	   	  <tr>
               	   	  	 <th>Срок</th>
               	   	  	 <th>Женщины</th>
               	   	  	 <th>Мужчины</th>
                      </tr>
               	   	  <tr>
               	   	     <th>Месяц</th>
               	   	     <th>12000</th>
               	   	     <th>12000</th>
               	   	  </tr>
               	   	  <tr>
               	   	  	 <th>Полгода</th>
               	   	  	 <th>60000</th>
               	   	  	 <th>60000</th>
                      </tr>
               	   </table>
    <img src="https://fitbreak.ru/images/articles/motivation/mikhail-zhuravel/mikhail-zhuravel-2.jpg" height="37%" width="37%">
    <hr align="center" width="100%" size="3" color="#0000dd" />
    <p>Обратная связь</p>
    <p>Email:purpurpur@gmail.com</p>
    <p>Телефон:88005553535 </p>

</body>
</html>