<html>
    <head>
      <title>Это моя страница</title>
    </head>
    <body>
         <!-- Here I create a block with border style creating -->
    	<style>
          .outline {
          border: 2px solid red;
          padding: 0 10px;
				   }
        </style>
               <!-- Here we gave a block with the main picture -->
               <div>
                   <img src="http://dgdesign.ru/uploads/posts/2017-01/1485363783_shapka-sayta-informatika-8641531.jpg" height="180px" width="1648px">
               </div>
               <br>
               <!-- In this block I want to tell about myself -->
               <div class="outline" align="center">
      	          <p><strong>About me</strong></p>
      	          <p>Hi! My name's Nikita. Tratatatat Tut tekst obo mne</p>
               </div>
               <br>
               <!-- Okay, lets start to create a table with my school schedule -->
               <div>
               	   <table align="center" border="1" bgcolor="green">
               	   	  <tr>
               	   	  	 <th>Понедельник</th>
               	   	  	 <th>Вторник</th>
               	   	  	 <th>Среда</th>
               	   	  	 <th>Четверг</th>
               	   	  	 <th>Пятница</th>
               	   	  </tr>
               	   	  <tr>
               	   	     <th>Математика</th>
               	   	     <th>Математика</th>
               	   	     <th>Химия</th>
               	   	     <th>Математика</th>
               	   	     <th>Физика</th>
               	   	  </tr>
               	   	  <tr>
               	   	  	 <th>Математика</th>
               	   	  	 <th>Математика</th>
               	   	  	 <th>История</th>
               	   	  	 <th>Математика</th>
               	   	  	 <th>Черчение</th>
               	   	  </tr>
               	   </table>
               </div>

    </body>
</html>