<html>
   <head>
     <title>А это мой блог</title>
     <!-- Здесь мы пишем заголовок вкладки -->
   </head>
   <body>
     <p><big>Очень злая сабака</big></p>
     <h1><span>Thats about me</span></h1>
     <p1>
     Lalalala <b>my</b> ringthon is <i>LMFAO</i> <br>
     Here you can see <big>big letters</big> <br>
     So, there I decided to use <strong>important font</strong> <br>
     <del>omg you shouldnt saw that</del>
     <p align="center">This text plases on the center</p>
     </p1>
     <p class="quote">"Declare veriables, not war"</p>
     <hr width="50 px" />  <!-- That string creates a line with width 50 pixels -->
     <p align="right">Ohohoho</p>
     <hr width="50 px" align="right" />
     <img src="https://img04.rl0.ru/e1aa03029e240e3e6b12450baad6ddf4/c615x400/news.rambler.ru/img/2018/01/18131123.875643.8703.jpeg" height="50%" width="50%" border="10px" alt="Мущина с ведром" /> <br>
     <br>
     <br>
     <a href="https://www.avito.ru/moskva" target="_blank">Авито</a> <!-- This is hyperlink -->
     <a href="https://www.avito.ru/moskva">  <br>
     <img src="https://img04.rl0.ru/e1aa03029e240e3e6b12450baad6ddf4/c615x400/news.rambler.ru/img/2018/01/18131123.875643.8703.jpeg" height="50%" width="50%" border="10px" alt="Мущина с ведром" /></a>
     <ol>
     <li><big>Red</big></li>
       <li><big>Not red</big></li>
     </ol>
     <ul>
       <li><strange>Red</strange></li>
       <li><strange>Red'nt</strange></li>
     </ul>
     <h1 align="center"><span><big>My skills</big></span></h1>
     <ul>
      <li>HTML</li>
      <li>Python 3.0</li>
     </ul>
     Ох как
    <!-- А тута мы пишем текст на страничке -->
    <table align="left" border="2">
      <tr>
        <th bgcolor="yellow">Желтый</th>
        <th bgcolor="black">Черный</th>
        <td>Малииииииина</td>
      </tr>
      <tr>
        <td>Таки желтый</td>
        <td colspan="2" class="selected">МАЛИИИИИИИНАААА</td>
      </tr>
    </table>
    <h1>Тут мы сделаем фон</h1>
     <div style="background-color: green; color: red; padding: 50px;">
         <p>Барабашка</p>
         <p>На
             <span style="color:red">цветном</span>
             фоне</p>
     </div>
     {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
     {% endfor %}
   </body>
</html>
<!-- colspan - тег, с помощью которого в таблице можно охватить два и более столбца -->
<!-- rowspan - тег, с помощью которого в таблице можно охватить две и более строки -->