
<html>
<head>
    <title>Slim</title>
</head>
<body>
    <h4 align="center">ВЫ ОТКРЫЛИ СТРАНИЦУ С ПРОГРАММОЙ "ПОХУДЕНИЕ"!</h4>
    <hr align="center" width="100%" size="3" color="#0000dd" />
    <p><big>Ниже вы можете ознакомится с ценами и результами программы</big></p>
    <table align="center" border="1" bgcolor="green">
               	   	  <tr>
               	   	  	 <th>Срок</th>
               	   	  	 <th>Женщины</th>
               	   	  	 <th>Мужчины</th>
                      </tr>
               	   	  <tr>
               	   	     <th>Месяц</th>
               	   	     <th>7800</th>
               	   	     <th>8000</th>
               	   	  </tr>
               	   	  <tr>
               	   	  	 <th>Полгода</th>
               	   	  	 <th>30000</th>
               	   	  	 <th>35000</th>
                      </tr>
               	   </table>

</body>
</html>